.product{
    width:300px;
    height:480px;
    border:1px solid rgba(167, 164, 164, 0.651);
    border-radius:8px;
    margin:0 auto;
    padding-top:5px;
    position:relative;
    
}
.product img{
    width:100%;
    /* padding:7px */
}
.product-info{
    padding:15px;
}

.btn-cart{
    width:100%;
    border:none;
    padding:10px 20px;
    position:absolute;
    background-color:rgba(255, 192, 203, 0.89);
    border-radius: 0 0 7px 7px;
    bottom:0;

}
.btn-cart:hover{
    background-color: pink;
}
.btn-cart span{
    margin-right:5px;
}